.jumbotron {
    margin-top: 75px;
    width: 70%;
}

h1 {
    text-align: center;
}

i {
    font-size: 3em;
    margin: 20px;
}

.container {
    width: 70%;
    padding: 0px;
}

.btn {
    width: 60%;
    margin: 30px;
}

.card-body {
    text-align: center;
}

.card {
    /* display: none; */
}